name: Build & Test

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  # Runs on pull requests targeting the default branch
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: DoozyX/clang-format-lint-action@v0.17

  python-black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: psf/black@stable

  deploy:
    runs-on: ubuntu-latest
    container: ubuntu:lunar
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Update repos
        run: apt update
      - name: Install dependencies
        run: apt install -y git meson libgirepository1.0-dev dbus libdbus-glib-1-dev python3-dasbus python3-tap python3-gi libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good
      - name: Set up permissions
        run: chown ubuntu:ubuntu .
      - name: Setup Spiel
        run: su ubuntu -c "meson setup build -Ddocs=false"
      - name: Compile Spiel
        run: su ubuntu -c "meson compile -C build"
      - name: Test Spiel
        run: su ubuntu -c "meson test -C build"
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: Meson_Testlog
          path: build/meson-logs/testlog.txt
